{% extends 'base.html.twig' %}

{% form_theme serieForm 'views/form-theme.html.twig' %}

{% block title %}
    {{ parent() }} || add a TV show
{% endblock %}

{% block body %}
    <h1>
        {% if serieId %}
            Update
        {% else%}
            Add
        {% endif%}
        a new TV show
        </h1>

    {{ form_start(serieForm) }}
    {{ form_widget(serieForm) }}
    <button>Send</button>
    {{ form_end(serieForm) }}
{% endblock %}

