<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Series{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/icon.png') }}">


        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <div class="container">

    <header>
        <img src="{{ asset('img/logo.svg') }}" alt="logo">
        {% include 'menu/nav.html.twig' %}
    </header>

    <main>
        {% block body %}{% endblock %}
    </main>

    </div>
    </body>
</html>

