{% extends 'base.html.twig' %}

{% block body %}
<h1>ERREUR 404! Retourne d'ou tu viens petit malin</h1>
    <h3>{{ exception.message }}</h3>
    <img src="https://interstrate.com/wp-content/uploads/2016/08/nerd.jpg" alt="">
{% endblock %}